/* Alignement bulles */
.message-container.sent {
  justify-content: flex-end;
}
.message-container.received {
  justify-content: flex-start;
}

/* Bulles */
ion-chip.sent {
  --background: #000;
  color: #fff;
  border-radius: 20px 20px 0 20px;
  padding: 10px 14px;
  max-width: 75%;
}

ion-chip.received {
  --background: #f0f0f0;
  color: #000;
  border-radius: 20px 20px 20px 0;
  padding: 10px 14px;
  max-width: 75%;
}

.bubble-content {
  display: flex;
  flex-direction: column;
}

.msg-time {
  font-size: 0.7rem;
  color: gray;
  margin-top: 5px;
  align-self: flex-end; /* place l'heure en bas à droite */
}


/* Média (image, vidéo) */
.media-msg {
  max-width: 200px;
  border-radius: 8px;
  margin-top: 5px;
}

/* Champ de saisie 
.chat-input ion-input {
  background: #f5f5f5;
  border-radius: 50px;
  padding-left: 15px;
  flex: 1;
} */

.chat-input ion-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-header {
  background-color: #ffffff; 
  padding-top:20px;

  --background: white; 
}

ion-back-button {
  --color: #000000;
}

ion-toolbar {
  --background: white !important;
  background-color: white !important;
}

/* Footer toujours en bas */
.chat-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Toujours au-dessus */
  background-color: #fff; /* Forcer le fond blanc */
  border-top: 1px solid #ddd;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Pour que le contenu derrière le footer ne soit pas masqué */
.content-wrapper {
  padding-bottom: 80px; /* hauteur approximative de .chat-input */
}

/* Ajuste les sous-boutons qui apparaissent */
.chat-input .flex {
  position: absolute;
  bottom: 60px; /* au-dessus de la zone de saisie */
  left: 10px;
  z-index: 1001;
}
