<ion-content class="success-container" [fullscreen]="true">
  <!-- Bouton retour -->
  <ion-button class="back-btn" fill="clear" [routerLink]="['/validationsms']">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <div class="success-wrapper">
    <div class="logo-container">
      <img src="assets/logo.png" class="logo-img">
    </div>
    <div class="title-container">
    <h1>Inscription Réussie</h1>
    </div>

    <div class="p-container">
          <p>Votre compte a été crée avec succès. Veillez vous connecter <p>
      </div>
    <div class="send-btn" >
      <ion-button expand="block" routerLink="/login">Se connecter</ion-button>
    </div>
  </div>
</ion-content>
 
