<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/validationsms" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="success-container" [fullscreen]="true">
  <div class="success-wrapper">
    <div class="logo-container">
      <ion-img src="assets/logo.png" class="logo-img"></ion-img>
    </div>
    <div class="title-container">
    <h1>Inscription Réussie</h1>
    </div>

    <div class="p-container">
          <p>Votre compte a été crée avec succès. Veillez vous connecter <p>
      </div>
    <div class="send-btn" >
      <ion-button expand="block" routerLink="/login">Se connecter</ion-button>
    </div>
  </div>
</ion-content>
 
