<div class="image-wrapper position-relative">

   <!-- Bouton "options" -->
  <div class="options-btn-wrapper">
    <button class="options-btn">
      <i class="bi bi-three-dots-vertical text-secondary"></i>
    </button>
  </div>


  <img src="assets/img/photo01accueil.png" class="img-fluid w-100" alt="Profil" />
  
 
  <div
    class="services-section bg-white rounded-top-5 py-5 position-absolute start-0 w-100"
    style="top: calc(100% - 40px); z-index: 10;">
    
    <h2 class="text-center fw-bold">Nos services</h2>
    
    <div class="row gx-3 gy-3 text-center justify-content-center px-2">
      <div class="col-6 d-flex justify-content-center" *ngFor="let service of services">
        <a
          [routerLink]="service.link"
          class="btn text-white px-4 py-3 mb-3 d-flex align-items-center gap-2 rounded-3 fs-5 text-decoration-none"
          style="min-width: 90%;"
          [ngStyle]="{ 'background-color': service.color }">

          <div class="icon-wrapper d-flex align-items-center justify-content-center bg-white rounded-circle">
            <img [src]="service.icon" class="icon-img" alt="icon" />
          </div>

          {{ service.label }}
        </a>
      </div>
    </div>

  </div>
</div>
