<ion-content class="mt-4">

  <!-- En-tête -->
  <div
    class="header px-3 pt-5 pb-5 d-flex align-items-center justify-content-between"
    style="background-color: #FF008A; margin-bottom: 25px;"
  >
    <!-- Icône retour -->
    <i class="bi bi-arrow-left fs-4 text-dark fw-bold" (click)="goBack()"></i>

    <!-- Menu déroulant centré -->
    <app-dropdown-drawer></app-dropdown-drawer>

    <!-- Avatar -->
    <a href="/profile">
      <img
        src="assets/img/myLOve/suggestion/tabProfile.png"
        alt="Profile"
        class="rounded-circle border border-white"
        width="40"
        height="40"
      />
    </a>
  </div>

  <!-- Form section -->

  <div  id="sectionForm">
    <h2 class="">Bloquer ou signaler</h2>

    <p class="">Pourquoi souhaitez-vous bloquer ou signaler votre partenaire</p>
  

    <form>
      <div class="form-check mb-2">
        <input type="radio" class="form-check-input" name="reason" id="reason1" value="" />
        <label for="" class="form-check-label" for="reason1">Comportement inapproprié</label>
      </div>

      <div class="form-check mb-2">
        <input type="radio" class="form-check-input"  name="reason" id="reason2" value="" />
        <label for="" class="form-check-label" for="reason2">Faux profil</label>
      </div>

      <div class="form-check mb-2">
        <input type="radio" class="form-check-input" name="reason" id="reason3" value="" />
        <label for="" class="form-check-label" for="reason3">Autre</label>
      </div>

      <div class="mb-4 mt-6">
        <p class="fw-semibold">Commentaires supplémentaires</p>
        <textarea class="form-control" rows="4" placeholder="Ecrivez ici..."></textarea>
      </div>

      <button class="btn btn-pink text-white w-100 fw-bold">Envoyer</button>

    </form>
  </div>

  <!-- Menu flottant -->
  <app-floating-menu></app-floating-menu>
  
</ion-content>