/* ============================
   Styles Forgot Password - Mode Clair
   ============================ */
ion-toolbar {
  --border-width: 0;
  box-shadow: none;
  height: 80px;
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
  padding: 0 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

ion-back-button {
  margin-left: -10px;
  margin-top: 25px; 
  color: #0D3873;
}

.forgot-container {
  --background: #f6f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.forgot-wrapper {
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 24px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.logo-img {
  width: 150px;
  height: auto;
}

.title-container {
  text-align: center;
  margin-bottom: 30px;
}

.title-container h1 {
  font-size: 22px;
  font-weight: bold;
  color: #0D3873;
  margin-bottom: 4px;
}

.title-container .subtitle {
  font-size: 14px;
  color: #666;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

input {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  width: 100%;
  color: #000;
}

input::placeholder {
  color: #999;
}

ion-button.send-btn {
  --background: #0D3873;
  --color: white;
  border-radius: 8px;
  --text-transform: none;
  margin-top: 12px;
}

/* ============================
   Styles Forgot Password - Mode Sombre
   ============================ */
@media (prefers-color-scheme: dark) {

  ion-toolbar {
    --background: #1e1e1e;
    color: #ffffff;
  }

  ion-back-button {
    color: #ffffff;
  }

  .forgot-container {
    --background: #121212;
  }

  .forgot-wrapper {
    background: #1e1e1e;
    box-shadow: 0 8px 24px rgba(0,0,0,0.7);
  }

  .title-container h1 {
    color: #ffffff;
  }

  .title-container .subtitle {
    color: #bbbbbb;
  }

  input {
    background: #2c2c2c;
    color: #ffffff;
  }

  input::placeholder {
    color: #aaaaaa;
  }

  ion-button.send-btn {
    --background: #0D3873;
    --color: #ffffff;
  }
}
