<ion-content class="bg-white">

  <ion-button fill="clear" color="light" class="position-absolute top-0 start-0 m-2" routerLink="/discussions" style="z-index: 10;">
    <i class="bi bi-arrow-left text-dark m-2 pt-3 fs-5"></i>
  </ion-button>

  <!-- HEADER -->
  <div class="position-relative text-center">
    <img
      src="assets/img/myLOve/profile/backgroundPink.png"
      alt="background"
    />

    <!-- Profile utilisateur -->
    <div class="position-absolute start-50 translate-middle-x" style="top: 140px;">
      
        <img
          src="assets/img/myLOve/suggestion/tabProfile.png"
          alt="Profile"
          class="mt-4 rounded-circle" style="width: 105px; height: 105px; object-fit: cover; margin-top: -35px; border: 2px solid #242760;" 
        /> 
    </div>
      
  </div>

  <!-- Infos utilisateur -->
  <div class="text-center mt-5">
    <h5 class="fw-bold mb-1">Omar Diop</h5>
    <div class="text-muted">Docteur</div>
    <div class="text-muted small"><i class="bi bi-geo-alt-fill"></i> Point E</div>
  </div>

  <div class="d-flex justify-content-center mt-5 gap-3">
    <ion-button class="btn-pink" fill="clear">
      Modifier
    </ion-button>
    <ion-button class="btn-pink" fill="clear">
      Ajouter
    </ion-button>
  </div>

  <!-- Photos -->
  <div class="mt-5">
    <h5 class="text-center fw-bold mb-2">Photos</h5>

    <div class="d-flex justify-content-center flex-wrap gap-2 border border-top-3 p-3" style="border-top: 3px solid #000;">
      <img *ngFor="let photo of photos" [src]="photo" alt="Photo" class="border photos">
    </div>
  </div>

  <!-- Menu flottant -->
  <app-floating-menu></app-floating-menu>

</ion-content>
