.bi-geo-alt-fill {
    color: #000000;
    margin-right: 10px;
}

.bi-arrow-left {
    color: #000000;
    font-weight: bolder;
}

.btn-pink {
    background-color: #ff008a;
    color: white;
    border: none;
    border-radius: 5px;
}

.photos{
    border-radius: 15px;
    object-fit: cover;
    width: 100px;
}