.bi-geo-alt-fill {
    color: #000000;
    margin-right: 10px;
}

.bi-arrow-left {
    color: #000000;
    font-weight: bolder;
}

.btn-pink {
    background-color: #ff008a;
    color: white;
    border: none;
    border-radius: 5px;
}

.photos{
    border-radius: 15px;
    object-fit: cover;
    width: 100px;
}

/* Pour les petites ecrans */

@media (max-width: 576px) {
  .profile-picture {
    width: 80px;
    height: 80px;
    margin-top: -25px;
  }

  .btn-pink {
    font-size: 0.8rem;
    padding: 5px 12px;
  }

  .photos {
    width: 40vw;
    max-width: 90px;
  }
}