.media-preview {
  height: 80%;
  background: #f0f0f0;
  margin: 10px;
  border-radius: 10px;
  position: relative;

  .floating-left,
  .floating-right {
    position: absolute;
    top: 10px;
    display: flex;
    gap: 8px;
    z-index: 2;
    
    ion-button {
      --color: #333;
      --padding-start: 0;
      --padding-end: 0;
      width: 40px;
      height: 40px;
      margin: 0;
    }

    ion-icon {
      font-size: 22px;
    }
  }

  .floating-left {
    left: 10px;
  }

  .floating-right {
    right: 10px;
    flex-direction: column; /* <-- alignement vertical */
  }
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;

  .gallery-btn {
    position: absolute;
    left: 15px;
    z-index: 1;
    --color: #ff00aa;

    ion-icon {
      font-size: 26px;
    }
  }

  .media-controls {
    display: flex;
    justify-content: space-between;
    background-color: #ff008A;
    border-radius: 25px;
    padding: 10px 20px;
    align-items: center;
    margin: 10px;

    ion-button {
      --color: white;
      --background: transparent;

      &.capture-btn {
        width: 60px;
        height: 60px;
        background: radial-gradient(circle, #ffffff66, #cca9c0);
        border-radius: 50%;
        --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        ion-icon {
          font-size: 30px;
        }
      }

      ion-icon {
        font-size: 24px;
      }
    }
  }

  .text-btn {
    position: absolute;
    right: 15px; 
    z-index: 1;
    --color: #ff00aa;

    ion-icon {
      font-size: 28px;
    }
  }

}