<ion-content class="">
  <div class="container py-3">
   
  <!--Header-->  
  <app-header-search></app-header-search>
    <!-- Stories -->
  <div class="overflow-auto px mb-3 story-container">
    <div class="d-flex gap-3 flex-nowrap">
      <div class="text-center">
        <div class="border border-2 border-gray rounded-4 p-1 ml-4 d-flex justify-content-center align-items-center" style="width: 56px; height: 56px;">
          <i class="bi bi-plus text-grey fs-2"></i>
        </div>
        <small class="d-block mt-1 pl-4">Your Story</small>
      </div>
      <div class="text-center" *ngFor="let story of stories">
        <img [src]="story.img" alt="" class="rounded-4 border border-grey p-1" style="width: 56px; height: 56px; object-fit: cover;">
        <small class="d-block mt-1 text-truncate" style="width: 56px;">{{ story.name }}</small>
      </div>
    </div>
    <!-- Card profil -->
  <div *ngFor="let pub of publications" class="card mb-3">
    <div class="card-body">
      <div class="d-flex align-items-center mb-2">
        <img src="assets/img/myLOve/account.png" alt="" class="rounded-circle me-2" width="32" height="32">
        <div>
          <h6 class="mb-0">{{ pub.auteurNom }}</h6>
          <small class="text-muted">{{ pub.createdAt | date:'short' }}</small>
        </div>
      </div>

      <p>{{ pub.texte }}</p>

      <div *ngIf="pub.mediaUrl">
        <img *ngIf="pub.mediaType.startsWith('image')" [src]="getFullMediaUrl(pub.mediaUrl)" class="img-fluid rounded" />
        <video *ngIf="pub.mediaType.startsWith('video')" [src]="getFullMediaUrl(pub.mediaUrl)" controls class="w-100 rounded"></video>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <small>{{ pub.nombreLikes }}</small>
      </div>
    </div>
  </div>
  </div> 
</div> 

  <!-- Menu flottant bas -->
  <app-floating-menu></app-floating-menu>
  
</ion-content>
