
<div class="">
  <div class="input-group">
   
     <span class="input-group-text bg-white border-start-1 rounded" data-bs-toggle="offcanvas" data-bs-target="#filterMenuService" aria-controls="filterMenu">
      <i class="bi bi-three-dots-vertical"></i>
    </span>

    <!-- Menu latéral  -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="filterMenuService" aria-labelledby="filterMenuLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title fw-bold text-primary" id="filterMenuLabel">Choisir un service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
      </div>

      <div class="offcanvas-body px-3 pt-3">
        <div class="list-group list-group-flush">
          
          <a href="/construction" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-3">
            <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width: 36px; height: 36px;">
              <i class="bi bi-book text-white fs-5"></i>
            </div>
            <span class="fw-semibold text-dark">Éducation</span>
          </a>

          <a href="/construction" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-3">
            <div class="rounded-circle bg-success d-flex justify-content-center align-items-center" style="width: 36px; height: 36px;">
              <i class="bi bi-bank text-white fs-5"></i>
            </div>
            <span class="fw-semibold text-dark">Banque</span>
          </a>

          <a href="/construction" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-3">
            <div class="rounded-circle bg-danger d-flex justify-content-center align-items-center" style="width: 36px; height: 36px;">
              <i class="bi bi-heart-pulse text-white fs-5"></i>
            </div>
            <span class="fw-semibold text-dark">Santé</span>
          </a>

          <a href="/construction" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-3">
            <div class="rounded-circle bg-info d-flex justify-content-center align-items-center" style="width: 36px; height: 36px;">
              <i class="bi bi-airplane-engines text-white fs-5"></i>
            </div>
            <span class="fw-semibold text-dark">Voyage</span>
          </a>

          <a href="/construction" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-3">
            <div class="rounded-circle bg-warning d-flex justify-content-center align-items-center" style="width: 36px; height: 36px;">
              <i class="bi bi-moon-stars text-white fs-5"></i>
            </div>
            <span class="fw-semibold text-dark">Islamique</span>
          </a>

        </div>
        
      </div>
    </div>
  </div>
</div>
