  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="retour"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
<ion-content class=" login-container" fullscreen>
  <div class="login-wrapper">
    <div class="logo-container">
      <ion-img src="assets/logo.png" class="logo-img"></ion-img>
    </div>
    <h2 class="login-title">Connexion</h2>
    <div class="google-login">
      <ion-button expand="block" fill="outline" class="google-btn">
      <ion-img src="assets/google-icon.png" class="google-icon" slot="start"></ion-img>
      <ion-text class="text">Se connecter avec google</ion-text>
      </ion-button>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
       <div class="input-container">
        <label class="input-label">Email ou Téléphone</label>
        <ion-input type="text" formControlName="identifier"> </ion-input>
      </div>
      <ion-text color="danger" *ngIf="identifier.invalid && identifier.touched">
        <small>Entrez un email ou un numéro de téléphone</small>
      </ion-text>
      <div class="input-container">
        <label class="input-label">Mot de passe</label>
        <ion-input type="password" formControlName="password"> </ion-input>
      </div>
        <ion-text color="danger" *ngIf="password.invalid && password.touched">
          <small>Mot de passe requis (min 6 caractères)</small>
        </ion-text>
      <div class="bp-container">
      <a routerLink="/f-password" class="forgot-link" > mot de passe oublié ?</a>
      </div>
      <ion-button class="login-button" expand="block" type="submit" [disabled]="loginForm.invalid">
        Se connecter
      </ion-button>
      
    </form>
    <div class="secondary-actions">
      <ion-text>
        <p>Vous n'avez pas de compte?  <a routerLink="/register" class="login-link">S'inscrire</a></p>
      </ion-text>
    </div>  
  </div>
</ion-content>