<!-- MENU BOTTOM FIXE -->
<div class="menu-bottom-fixed">
  <a href="/dashboard" class="menu-item">
    <img src="assets/img/menuFlottant/Home.png" alt="Home">
  </a>
  <a href="/suggestion" class="menu-item">
    <img src="assets/img/menuFlottant/Romance.png" alt="Heart">
  </a>
  <a href="/ajouter-media" class="menu-item add">
    <img src="assets/img/menuFlottant/Add.png" alt="Add">
  </a>
  <a href="/discussions" class="menu-item">
    <img src="assets/img/menuFlottant/Chat.png" alt="Chat">
  </a>
</div>
