<ion-content class="register-container">
  <div class="register-wrapper">

    <div class="logo-container">
      <ion-img src="assets/logo.png" class="logo"></ion-img>
    </div>

    <h2 class="form-title">Inscription</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <div class="row">
        
        <ion-input
          class="half-input"
          type="text"
          placeholder="Nom"
          formControlName="lastName"
          fill="solid">
        </ion-input>

        <ion-input
          class="half-input"
          type="text"
          placeholder="Prénom"
          formControlName="firstName"
          fill="solid">
        </ion-input>
      </div>

      <ion-input
        type="text"
        placeholder="Adresse"
        formControlName="address"
        fill="solid">
      </ion-input>

      <ion-input
        type="text"
        placeholder="Sexe"
        formControlName="sex"
        fill="solid">
      </ion-input>

      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
        fill="solid">
      </ion-input>

      <ion-input
        type="password"
        placeholder="Mots de pass"
        formControlName="password"
        fill="solid">
      </ion-input>

      <ion-item lines="none" class="checkbox-item">
        <ion-checkbox slot="start" formControlName="acceptTerms"></ion-checkbox>
        <ion-label>J’accepte</ion-label>
      </ion-item>

      <ion-button class="login-button" expand="block" type="submit" [disabled]="registerForm.invalid">
        S’inscrire
      </ion-button>
    </form>

    <div class="bottom-text">
      <p>Vous avez un compte ? 
        <a routerLink="/login" class="login-link">Se connecter</a>
      </p>
    </div>

  </div>
</ion-content>