<ion-content class="register-container">
  <div class="register-wrapper">
    <div class="logo-container">
      <ion-img src="assets/logo.png" class="logo"></ion-img>
    </div>
    <h2 class="form-title">Inscription</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="row">
        <div class="input-container">
          <label class="input-label">Nom</label>
          <ion-input class="half-input" type="text" formControlName="nom"></ion-input>
          <ion-text color="danger" *ngIf="nom?.invalid && nom?.touched">
          <small>Veuillez remplir votre nom</small>
        </ion-text>
        </div>
        <div class="input-container">
          <label class="input-label">Prenom(s)</label>
          <ion-input class="half-input" type="text" formControlName="prenom"></ion-input>
          <ion-text color="danger" *ngIf="prenom?.invalid && prenom?.touched">
          <small>Veuillez remplir votre prenom</small> </ion-text>
        </div>
      </div>
      <div class="row">
      <div class="input-container">
        <label class="input-label">Téléphone</label>
        <ion-input class="half-input" type="tel" formControlName="phone"></ion-input>
        <ion-text color="danger" *ngIf="phone?.invalid && phone?.touched">
          <small>téléphone invalide</small>
        </ion-text>
      </div>
      <div class="input-container">
        <label class="input-label">Adresse</label>
        <ion-input type="text" formControlName="address"></ion-input>
         <ion-text color="danger" *ngIf="adress?.invalid && adress?.touched">
          <small>Veuillez remplir votre adresse</small></ion-text>
      </div>
      </div>
      <div class="row">
      <div class="input-container">
        <label class="input-label">Date de Naissance</label>
        <ion-input type="date" formControlName="datenaissance" [max]="maxDate"></ion-input>
        <ion-text color="danger" *ngIf="datenaissance?.errors?.['tooYoung'] && datenaissance?.touched" >
          <small>18 ans minimum requis</small>
        </ion-text>
      </div>
      <div class="input-container">
        <label class="input-label">Genre</label>
        <ion-select formControlName="sexe">
        <ion-select-option value="Homme">Homme</ion-select-option>
        <ion-select-option value="Femme">Femme</ion-select-option>
        </ion-select>
      </div>
      </div>
      <div class="input-container">
        <label class="input-label">Email</label>
        <ion-input type="email" formControlName="email"></ion-input>
        <ion-text color="danger" *ngIf="email?.invalid && email?.touched">
          <small>Email invalide</small>
        </ion-text>
      </div>
      <div class="input-container">
        <label class="input-label">Mot de passe</label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-text color="danger" *ngIf="password?.invalid && password?.touched">
          <small>Au moins 8 caractères avec lettres, chiffres et symbole</small>
        </ion-text>
      </div>
      <div class="input-container">
        <label class="input-label">Confirmer Mot de passe</label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </div>
      <div class="bp-container">
      <ion-item lines="none" class="checkbox-item">
        <ion-checkbox slot="start" formControlName="acceptTerms" class="term"></ion-checkbox>
        <ion-label>J’accepte</ion-label>
      </ion-item>
      <a routerLink="/" class="a" >Lire nos T & C</a>
      </div>
      <ion-button class="login-button" expand="block" type="submit" [disabled]="registerForm.invalid">
        S’inscrire
      </ion-button>
    </form>
    <div class="bottom-text">
      <p>Vous avez un compte ?
        <a routerLink="/login" class="login-link">Se connecter</a>
      </p>
    </div>
  </div>
</ion-content>
