<ion-content class="forgot-container" [fullscreen]="true">
  <div class="forgot-wrapper">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="logo-container">
      <ion-img src="assets/logo.png" class="logo-img"></ion-img>
    </div>
    <div class="title-container">
    <h1>Mot de passe oublié</h1>
    </div>
    
    <ion-item lines="none">
      <ion-input type="email" placeholder="me...@gmail.com"></ion-input>
    </ion-item>

    <ion-button expand="block" class="send-btn">Envoyer</ion-button>
  </div>
</ion-content>
 