<ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
<ion-content class="forgot-container" [fullscreen]="true">
  <div class="forgot-wrapper">
    <div class="logo-container">
      <ion-img src="assets/logo.png" class="logo-img"></ion-img>
    </div>
    <div class="title-container">
    <h1>Réinitialisation</h1>
    </div>
    
    <div class="input-container">
        <label class="input-label">Email</label>
        <ion-input type="email"  placeholder="me...@gmail.com"> </ion-input>
    </div>
    <ion-button expand="block" class="send-btn" type="submit">Envoyer</ion-button>
  </div>
</ion-content>
 