<ion-content class="ion-padding" [fullscreen]="true">
  <div class="p-1">
    <ion-text class="ion-padding text-center">
      <h2 class="fs-5">Veuillez choisir vos centres d'intérêt</h2>
    </ion-text>
  </div>
  <ion-row>
    <ion-col size="6">
      <ion-list>
        <ion-item *ngFor="let interet of leftColumn">
          <ion-label class="nameInteret">{{ interet.nom }}</ion-label>
          <ion-checkbox slot="end" (ionChange)="toggleSelection(interet.id)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="6">
      <ion-list>
        <ion-item *ngFor="let interet of rightColumn">
          <ion-label class="nameInteret">{{ interet.nom }}</ion-label>
          <ion-checkbox slot="end" (ionChange)="toggleSelection(interet.id)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  
  <div class="bouton-container">
    <ion-button class="btn-suivant" (click)="envoyerChoix()">Suivant</ion-button>
  </div>
    
</ion-content>
