<ion-content fullscreen class="home-container">
  <div class="home-wrapper">
    <div class="illustration-circle">
      <img src="assets/img.png" alt="Image Illustrative" />
    </div>

    <div class="dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="login-wrapper">
      <div class="logo-container">
        <ion-img src="assets/logo.png" class="logo-img"></ion-img>
      </div> 
    </div>

    <div class="welcome-text">
      <p>BIENVENUE DANS NOTRE APPLICATION</p>
      <p class="subtitle">HELPING YOUR SELF QUI VA CHANGER</p><p>VOTRE MONDE</p>
    </div>

    <div class="ion-padding">
      <ion-button class="start-button" expand="block" routerLink="/login">
        Se connecter
      </ion-button>
    </div>
  </div>
</ion-content>