.user-status {
    font-family: Arial;
    font-size: 0.7rem;
    font-weight: regular;
}

.user-name {
    font-family: Arial;
    font-weight: bold;
}

.message {
    font-family: Arial;
    font-size: medium ;
}