<ion-content class="bg-pink">

  <!-- En-tête -->
  <div
    class="header px-3 pt-5 pb-5 d-flex align-items-center justify-content-between"
    style="background-color: #FF008A; margin-bottom: 25px;"
  >
    <!-- Icône retour -->
    <i class="bi bi-arrow-left fs-4 text-dark fw-bold"></i>

    <!-- Menu déroulant centré -->
    <div class="dropdown">
      <button
        class="btn bg-white text-dark py-1 px-3 rounded-3 d-flex align-items-center gap-2"
        type="button"
        data-bs-toggle="dropdown"
        style="font-size: 0.9rem; font-family: Arial;"
      >
        My lover
        <i class="bi bi-sliders pl-3"></i>
      </button>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">My love</a></li>
        <li><a class="dropdown-item" href="#">My friend</a></li>
      </ul>
    </div>

    <!-- Avatar -->
    <img
      src="assets/img/myLOve/suggestion/tabProfile.png"
      alt="Profile"
      class="rounded-circle border border-white"
      width="40"
      height="40"
    />
    
  </div>
<!-- Onglets pleine largeur -->
<div class="d-flex w-100 position-relative" style="margin-top: -30px;">
  <a class="tab-button active text-decoration-none" href="/discussions">Discussions</a>
  <div class="tab-button inactive">Suggestions</div>
</div>

<!-- Cartes Suggestions -->
  <div class="px-3 mt-5">
    <div class="card mb-5 p-3 border-0 rounded-4 shadow-sm bg-white" *ngFor="let person of suggestions">
      <div class="d-flex align-items-center">
        <img [src]="person.photo" class="rounded-circle me-3" width="60" height="60" />
        <div>
          <h6 class="fw-bold mb-1">{{ person.name }}</h6>
            <div class="text-muted small" style="font-family: 'Inter'">
            Compatibilité de {{ person.compatibility }} % <br />
            {{ person.distance }} - Intérêts communs
            </div>
          <button class="btn btn-pink mb-2 text-white w-100 mt-3 ">Commencer une discussion</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Menu flottant bas -->
  <div class="position-fixed bottom-0 start-50 translate-middle-x mb-3" style="z-index: 1050;">
    <div class="text-white d-flex justify-content-between align-items-center px-4 py-2 rounded-pill shadow" style="min-width: 260px; background-color: rgba(255, 0, 138, 0.9);">
      <a href="/rencontre" class="text-white">
        <img src="assets/img/menuFlottant/Home.png" alt="Home" style="width: 22px; height:22px;">
      </a>
      <a href="/suggestion" class="text-white">
        <img src="assets/img/menuFlottant/Romance.png" alt="Heart" style="width: 24px; height: 24px;">
      </a>
      <a href="#" class="text-white">
        <img src="assets/img/menuFlottant/Add.png" alt="Add" class="d-flex align-items-center justify-content-center" style="width: 24px; height: 24px;">
      </a>
      <a href="#" class="text-white">
        <img src="assets/img/menuFlottant/Chat.png" alt="Heart" style="width: 24px; height: 24px;">
      </a>
    </div>
  </div>

</ion-content>
